{% if user.is_authenticated %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">

	{% block extrastatic %}
	{% endblock %}

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<title>{% block title %}Document {% endblock %}</title>
</head>
<body>
<div class="container">

	{% block navbar %}
        <!--<img src="{% static "img/nmflogo.png" %}" class="img-responsive" alt="My image"/>-->
		<div class="bs-docs-section clearfix" style="background-image: url('img/nmflogo.png');">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="bs-component">
		            	<nav class="navbar navbar-default">
		                	<div class="container-fluid">
		                  		<h3>NEPAL MIND FACTORY</h3>
								<div class="navbar-header">
		                    		<a class="navbar-brand" href="#">Home</a>

		                  		</div>

								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                    	<ul class="nav navbar-nav">
		                      		<li class="dropdown">
		                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Go To <span class="caret"></span></a>
				                        <ul class="dropdown-menu" role="menu">
				                        	<li><a href="{% url 'survey:Surve_list' %}">List</a></li>
				                        	<li><a href="{% url 'survey:Surve_search' %}">Search</a></li>
				                        </ul>
		                      		</li>
		                    	</ul>
		                    	<ul class="nav navbar-nav navbar-right">
		                        	<li class="dropdown"><a href="http://nepalmindfactory.org/" onclick="pageTracker._link(this.href); return false;">ABOUT US</a>
		                        	</li>
		                        	{% if user.is_authenticated %}
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Options<span class="caret"></span></a>
											<ul class="dropdown-menu" role="menu">
												<li><a href="{% url 'survey:User_logout' %}">logout</a></li>
											</ul>
										</li>
									{% else %}
										<li class="dropdown">
											<h6>You are not logged in</h6>
										</li>

									{% endif %}
		                    	</ul>
		                    </div>

		                </div>
		            </nav>
		        </div>
           	</div>
        </div>
    </div>

	{% endblock %}


	{% block content %}
	<h4>	Blocked contains		</h4>
	{% endblock %}


	{% block footer %}
	{% endblock%}
</div>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	{% block extrajs %}
	{% endblock %}


</body>
</html>
{% else %}
	<p>login first</p>
	<p>Click <a href="{% url 'survey:Login' %}">here</a>to login. </p>
{% endif %}